@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::after {
    content: "";
    background: url(../img/background.png);
    background-size: cover;
    height: 100vh;
    opacity: 55%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

main {
    width: 600px;
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.3rem;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke: 1px #000;
    margin-bottom: 1.5rem;
    background: rgba(139, 139, 139, 0.671);
    border-radius: 1rem;
}

.player {
    font-size: 1.5rem;
    color: #FF5A00;
}

header span {
    font-size: 1rem;
}

.timer {
    font-size: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5em;
    width: 100%;
}

.card {
    aspect-ratio: 3/4;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.face {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1.5px solid orangered;
    background-size: cover;
    background-position: center;
    transition: all 1000ms ease;
}

.back {
    background-image: url(../img/back.png);
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
}

.reset {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background: black;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
}

.score {
    font-size: 0.6rem;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-bottom: 1rem;
}

.reset button {
    font-size: 1.8rem;
    font-family: 'Press Start 2P', cursive;
    padding: 0.7rem 2rem;
    background: orangered;
    border-radius: 6rem;
    z-index: 98;
    color: #FFF;
    -webkit-text-stroke: 3px #000;
    margin-bottom: 1rem;
    cursor: pointer;
}

.end-logo {
    width: 10rem;
    opacity: 85%;
}