@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    align-items: center;
    height: 100vh;
}

body::after {
    content: "";
    background: url(/assets/img/background.png);
    opacity: 55%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

main {  
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    padding: 1.3rem;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke: 1px #000;
    margin-bottom: 1.5rem;
    background: rgba(139, 139, 139, 0.671);
    border-radius: 1rem;
}

.player {
    font-size: 1.8rem;
    color: #FF5A00;
}

header span {
    font-size: 1.5rem;
}

.timer {
    font-size: 1.8rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    width: 800px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.face {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1.5px solid orangered;
    background-size: cover;
    background-position: center;
    transition: all 600ms ease;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url(/assets/img/back.png);
    background-size: 110%;
    background-position: center;
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
}