@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    background: rgb(241, 241, 241);
}

main {
    width: 400px;
    padding: 1rem;
}

.header-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brain-img {
    width: 30%;
}

.title {
    color: #333;
    margin-top: -8px;
    font-family: 'Bungee Shade', cursive;
    font-size: 1.8em;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nickname {
    width: 100%;
    outline: none;
    padding: 15px;
    border: 2px solid rgb(94, 94, 94);
    border-radius: 5px;
    color: #333;;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    margin-top: 1rem;
}

.nickname::placeholder {
    color: #AAA;
}

.play {
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: #F9867D;
    color: rgb(255, 255, 255);;
    cursor: pointer;
    margin-top: 0.5rem;
}

.play:disabled {
    background: #AAA;
    color: #EEE;
    cursor: auto;
}

.logo-img {
    margin-top: 1.5rem;
    width: 130px;
    opacity: 60%;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 5px;
}

.copyright {
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    -webkit-text-stroke: 1px #333;
    text-align: center;
}